<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alligator</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>

    <header>
        <nav>
            <a href="#" class="active">Home</a>
            <a href="#">About</a>
            <a href="#">Portfolio</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
        </nav>
    </header>


    
    <div class="slider">


        <div class="list">

            <div class="item">
                <img src="../assets/assetsM/modal2.png" alt="">

                <div class="content">
                    <div class="title">City</div>
                    <div class="type">Three Days Weather</div>
                    <div class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti temporibus quis eum consequuntur voluptate quae doloribus distinctio. Possimus, sed recusandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, aut.
                    </div>
                    <div class="button">
                        <button>SEE MORE</button>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="../assets/assetsM/swamp.jpg" alt="">

                <div class="content">
                    <div class="title">MAGIC SLIDER</div>
                    <div class="type">NATURE</div>
                    <div class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti temporibus quis eum consequuntur voluptate quae doloribus distinctio. Possimus, sed recusandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, aut.
                    </div>
                    <div class="button">
                        <button>SEE MORE</button>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="../assets/assetsM/gator.png" alt="">

                <div class="content">
                    <div class="title">MAGIC SLIDER</div>
                    <div class="type">PLANT</div>
                    <div class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti temporibus quis eum consequuntur voluptate quae doloribus distinctio. Possimus, sed recusandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, aut.
                    </div>
                    <div class="button">
                        <button>SEE MORE</button>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="../assets/assetsM/modal1.png" alt="">

                <div class="content">
                    <div class="title">MAGIC SLIDER</div>
                    <div class="type">NATURE</div>
                    <div class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti temporibus quis eum consequuntur voluptate quae doloribus distinctio. Possimus, sed recusandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, aut.
                    </div>
                    <div class="button">
                        <button>SEE MORE</button>
                    </div>
                </div>
            </div>

        </div>





        <div class="wrapper">
            <!-- <h1>Bubbles Animation</h1> -->
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
          </div>
        
        
        
        
        
        
        
        
 



        <div class="grid-container">
            <div class="item1">1
                <div class="search-box">
                    <i class="bx bxs-map"></i>
                    <input type = "text" placeholder="what city you repping?">
                    <button class="bx bx-search"></button>
                </div>
            </div>
            <div class="item2">2





                         <!-- game -->

          
          
          <h3>Seconds left: <span id="time-left">20</span></h3>
          <h3>Result: <span id="result"></span></h3>
        
          <button id="start-pause-button">Start/Pause</button>
          <div class="grid">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div class="ending-block"></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div class="log-left l1"></div>
            <div class="log-left l2"></div>
            <div class="log-left l3"></div>
            <div class="log-left l4"></div>
            <div class="log-left l5"></div>
            <div class="log-left l1"></div>
            <div class="log-left l2"></div>
            <div class="log-left l3"></div>
            <div class="log-left l4"></div>
            <div class="log-right l5"></div>
            <div class="log-right l1"></div>
            <div class="log-right l2"></div>
            <div class="log-right l3"></div>
            <div class="log-right l4"></div>
            <div class="log-right l5"></div>
            <div class="log-right l1"></div>
            <div class="log-right l2"></div>
            <div class="log-right l3"></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div class="car-left c1"></div>
            <div class="car-left c2"></div>
            <div class="car-left c3"></div>
            <div class="car-left c1"></div>
            <div class="car-left c2"></div>
            <div class="car-left c3"></div>
            <div class="car-left c1"></div>
            <div class="car-left c2"></div>
            <div class="car-left c3"></div>
            <div class="car-right c1"></div>
            <div class="car-right c2"></div>
            <div class="car-right c3"></div>
            <div class="car-right c1"></div>
            <div class="car-right c2"></div>
            <div class="car-right c3"></div>
            <div class="car-right c1"></div>
            <div class="car-right c2"></div>
            <div class="car-right c3"></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div class="starting-block frog"></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>




            </div>
            <div class="item3">3
              <div id="container">
                <div class="row">
                  <div class="name">Player1</div><div class="score">430</div>
                </div>
              
                <div class="row">
                  <div class="name">Player2</div><div class="score">580</div>
                </div>
              
                <div class="row">
                  <div class="name">Player3</div><div class="score">310</div>
                </div>
              
                <div class="row">
                  <div class="name">Player4</div><div class="score">640</div>
                </div>
              
                <div class="row">
                  <div class="name">Player5</div><div class="score">495</div>
                </div>
              </div>    
            </div>
        </div>
    


        <div class="thumbnail">

            <div class="item">
              <img src="../assets/assetsM/modal2.png" alt="">
            </div>
            <div class="item">
                <img src="../assets/assetsM/swamp.jpg" alt="">
            </div>
            <div class="item">
                <img src="../assets/assetsM/gator.png" alt="">
            </div>
            <div class="item">
                <img src="../assets/assetsM/modal1.png" alt="">
            </div>

        </div>


        <div class="nextPrevArrows">
            <button class="prev"> < </button>
            <button class="next"> > </button>
        </div>


    </div>

 


    <script src="../assets/js/index.js"></script>

    <!-- <script src="city1.js"></script> -->



</body>
</html>